# OVR Mobile SDK
ovr_sdk_mobile/bin
ovr_sdk_mobile/gradle
ovr_sdk_mobile/sdcard_SDK
ovr_sdk_mobile/SourceAssets
ovr_sdk_mobile/Tools
ovr_sdk_mobile/VrCapture
ovr_sdk_mobile/VrSamples
ovr_sdk_mobile/gradlew*
ovr_sdk_mobile/*.gradle
ovr_sdk_mobile/*.apk
ovr_sdk_mobile/*.py
ovr_sdk_mobile/*.bat
ovr_sdk_mobile/*.json
ovr_sdk_mobile/*.properties
ovr_sdk_mobile/1stParty/OpenGL_Loader/Projects
ovr_sdk_mobile/LibOVRKernel/Projects
ovr_sdk_mobile/VrAppFramework/Libs/Android/aar
ovr_sdk_mobile/VrAppFramework/Projects
ovr_sdk_mobile/VrAppSupport/VrGUI
ovr_sdk_mobile/VrAppSupport/VrLocale
ovr_sdk_mobile/VrAppSupport/VrModel
ovr_sdk_mobile/VrAppSupport/VrSound

/////////////////////////
// Ignored Folders      /
/////////////////////////
bin/
gen/
obj/
build/
/*/build/
.gradle/
.idea/

# OSIG files
oculussig_*

# Local configuration file (sdk path, etc)
local.properties

# Hidden files
.DS_Store
*.iml
.*
