<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.eje_c.meganekko.jssample">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <meta-data
            android:name="com.samsung.android.vr.application.mode"
            android:value="vr_only"/>

        <activity
            android:name="com.eje_c.meganekko.gearvr.MeganekkoJSActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">

            <meta-data
                android:name="com.eje_c.meganekko.js.main"
                android:value="asset:///main.js"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>

</manifest>
